[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=paraservicios_hblink
Comment=Para los servicios HBlink
Exec=/home/pi/pararservicios_hblink.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

