[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/A108; ./qt_menu_ambeserver_y_3003'
Icon=/home/pi/A108/ICONO_AMBE_SERVER_OFF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=MENU AMBE SERVER
Hidden=false
Comment[es_ES]=EA3EIZ
