[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/A108/;lxterminal --geometry=40x5 -e sudo sh actualizar_IDS_MMDVMHost.sh'
Icon=/home/pi/A108/ICONO_ACTUALIZAR_IDS1.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Actualizar IDS
Hidden=false
Comment[es_ES]=EA3EIZ
