[Desktop Entry]
Comment=EA3EIZ
Exec=sh -c "cd /home/pi/A108;./qt_editor_ircddb"
Type=Application
Terminal=false
Comment[es_ES]=
Name[es_ES]=Editar ircDDB
Icon=/home/pi/A108/ICONO_EDITAR_SOLODSTAR.png
 