[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c "cd /home/pi/A108;./qt_editor_general"
Icon=/home/pi/A108/ICONO_EDITOR_GENERAL1.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Editor GENERAL
Hidden=false
Comment[es_ES]=EA3EIZ
X-KeepTerminal=false
