[Desktop Entry]
Encoding=UTF-8
Terminal=true
Exec=sh -c "cd /home/pi/A108; ./qt_menu_extra"
Icon=/home/pi/A108/ICONO_MENU_EXTRA1.png
Type=Application
Categories=GTK;Utility;TerminalEmulator;
Name[en_US]=MMDVM Connect Screen
Terminal=false
Name[es_ES]=MENU EXTRA

